  div.profileContentForm{
    display: block;
    padding: 5%;
    padding-top: 14%;
    padding-left: 10.5%;
    max-width: 70%;
}

div.profileContentForm h3{
    background-color: lightblue;
    padding: 1%;
}